*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color:#f5ecec;;
}

//IMPORTS
@import "layout/header";
@import "layout/footer";
@import "layout/main-proceso";
@import "layout/main-tueste";
@import "layout/main-resultado";
@import "layout/main-contacto";
@import "layout/main-index";

// VARIABLES
@import "variables/variables";

// MEDIA QUERY
@import "media-queryes/media-header";
@import "media-queryes/media-index"; 
@import "media-queryes/media-proceso";
@import "media-queryes/media-resultado";
@import "media-queryes/media-contacto";


//COMPONENTES
@import "componentes/mixin"



