footer {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    background-color:  #702727;
    align-items: center;
    width: 100%;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style-type: none;
    }
    a {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        margin: 30px 40px 5px 30px;
        color:black;
        font-family:Arial, Helvetica, sans-serif ;
        text-decoration: none;
    }
    a:hover{
        color: #f5ecec;
        transition: 1s;
        transform: scale(1.2);
    }
    img {
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
    }
}


