@import "../variables/variables";

.box3 {
  display: flex;
  margin-bottom: 40px;
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: $letra-titulo;
    color: $color-fondo;
    margin-left: 10px;
  }
  h1:hover {
    text-decoration: underline;
    width: 60%;
  }
  p {
    font-size: 23px;
    margin-right: 40px;
    margin-left: 10px;
    font-family: $letra-parrafo;
  }
}

.flores {
  border-radius: 15px;
  margin: 30px 20px;
}


