@import "../variables/variables";
@import "../componentes/mixin";

.box5 {
  display: flex;
  .box6 {
    h2 {
      padding-top: 20px;
      padding-bottom: 10px;
      margin-left: 10px;
      font-size: 28px;
      color: $color-fondo;
      font-family: $letra-titulo;
      letter-spacing: 1px;
    }
    h2:hover {
      text-decoration: underline;
      width: 50%;
      @include TransTitulo;
    }
    p {
      margin-right: 50px;
      margin-left: 10px;
      font-size: 24px;
      font-family: $letra-parrafo;
    }
  }
  .box9 {
    margin: 20px 20px 40px 0;
    border-radius: 15px;
    &:hover {
      @include Transition;
    }
  }
}


