


@media screen and (max-width:560px) {
    section .grid-container {
      display: flex;
      flex-direction: column;
      width: 70%;
    }
  }
  
  @media screen and (min-width:560px) and (max-width:1350px) {
    section .grid-container {
      display: flex;
      flex-direction: column;
    }
  }