@media screen and (max-width:360px) {
    .box19 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:360px) and (max-width:560px) {
    .box19 {
        display: flex;
        flex-direction: column;
    }
    .box19 .box20 {
        width: 90%;
    }
}

@media screen and (min-width: 560px) and (max-width:1000px) {
    .box19 {
        display: flex;
        flex-direction: column;
    }
    .box19 .box20 {
       width: 90%;
    }
}